<% if @current_jobs.size == 0 %>
  <%= simple_form_for @application_sync_job, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.association :environment, :hint => "the environment to sync from" %>
    <div class="form-actions">
      <%= f.button :submit, "Begin", :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  application_sync_jobs_path, :class => 'btn' %>
    </div>
  <% end %>
<% else %>
  <p> 
    An Application Sync Job is currently in progress.  Click <%= link_to "here", application_sync_jobs_url %> to view it.
  </p>
<% end %>
