<h1>Listing run_logs</h1>

<table>
  <tr>
    <th>Log</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @run_logs.each do |run_log| %>
  <tr>
    <td><%= run_log.log %></td>
    <td><%= run_log.type %></td>
    <td><%= link_to 'Show', run_log %></td>
    <td><%= link_to 'Edit', edit_run_log_path(run_log) %></td>
    <td><%= link_to 'Destroy', run_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Run log', new_run_log_path %>
