<h1>Listing approved_builds</h1>

<table>
  <tr>
    <th>Application name</th>
    <th>Build number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @approved_builds.each do |approved_build| %>
  <tr>
    <td><%= approved_build.application_name %></td>
    <td><%= approved_build.build_number %></td>
    <td><%= link_to 'Show', approved_build %></td>
    <td><%= link_to 'Edit', edit_approved_build_path(approved_build) %></td>
    <td><%= link_to 'Destroy', approved_build, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Approved build', new_approved_build_path %>
