<%- model_class = MailRecipient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:addresses) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @mail_recipients.each do |mail_recipient| %>
      <tr>
        <td><%= link_to mail_recipient.id, mail_recipient_path(mail_recipient) %></td>
        <td><%= mail_recipient.name %></td>
        <td><%= mail_recipient.addresses %></td>
        <td><%= mail_recipient.created_at.to_s(:pretty) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_mail_recipient_path(mail_recipient), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      mail_recipient_path(mail_recipient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @mail_recipients, :renderer => BootstrapPagination::Rails %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mail_recipient_path,
            :class => 'btn btn-primary' %>
